<h1> 書本清單 </h1>

<div class="row">
<div class="col-md-8">
<%= form_tag books_path, :method => 'get',class: "form-inline" do %>
<div class="form-group">
      <%= text_field_tag :search, params[:search], class: "form-control" %>
</div>
      <%= submit_tag "Search", :name => nil,class: "btn btn-primary"  %>
<span><%= link_to "進階搜尋",new_search_url, class:"btn btn-warning" %></span>
<% end %>
</div>

<div class="col-md-4">
    <% if can? :create ,Book %>
    <%= button_to "新增書籍", new_book_url, {method: :get, class:"btn btn-default"} %>
    <% end %>
</div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>標題</th>
            <th>ISBN</th>
            <th>出版日期</th>
            <th>副本數</th>
            <th>分類</th>
        </tr>
    </thead>
    <tbody>
        <%= render @books %>
    </tbody>
</table>
