<h1> 新增書本 </h1>
<%= simple_form_for @book do |f| %>
    <%= f.input :title %>
    <%= f.input :isbn %>
    <%= f.input :year %>
    <%= f.input :copy_number, placeholder: 'can leave blank' %>
    <%= f.input :category, placeholder: 'can leave blank' %>
    <div class="form-group">
        <%= label_tag :authorstr, "authors name" %>
        <%= text_field_tag :authorstr , params[:authorstr], class: "form-control", placeholder: "用分號隔開" %>
    </div>
    <div class="form-group">
        <%= label_tag :authororg, "authors organization" %>
        <%= text_field_tag :authororg , params[:authororg], class: "form-control", placeholder: "用分號隔開"  %>
    </div>
    <div class="form-group">
        <%= label_tag :publishname, "publisher name" %>
        <%= text_field_tag :publishname , params[:publishname], class: "form-control" %>
    </div>
    <div class="form-group">
        <%= label_tag :publishaddr, "publisher address" %>
        <%= text_field_tag :publishaddr , params[:publishaddr], class: "form-control" %>
    </div>
    <%= f.button :submit %>
<% end %>
